
@import 'semantic';
//@import 'add-to-homescreen';
@import 'weather';

/* My Styles */

#cheney i {
    color: aquamarine;
    font-size: 6em;
}

#spokane i {
color: aqua;
font-size: 6em;
}

#d2 i {
    color: aqua;
    font-size: 6em;
}
#d1 i {
color: aquamarine;
font-size: 6em;
}
i {
    font-size:6em;
    color: dodgerblue;
}

div.ui.bottom.attached.active.tab.segment {
    background-color: black;
    border: none;
}

body{
    background-color: black;
}

h3 {
    color: floralwhite;
}

container {
    color: floralwhite;
}

